<div class="animated fadeIn">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="float-right">

              <button type="button" *ngIf="policy['daughter-vessels'].create" (click)="open(content)" class="btn btn-outline-primary"><i class="fa fa-plus"></i>&nbsp;New Vessel</button>
              <button type="button" (click)="refresh()" class="btn btn-outline-warning"><i class="fa fa-refresh"></i>&nbsp;Refresh</button>
            </div>
          </div>
          <div class="card-body table-responsive">



              <table style="width:100%" datatable [dtOptions]="dtOptions" class="table table-striped">
              <!-- <table datatable  class="row-border hover"> -->
                  <thead>
                    <tr>
                      <!-- <th>ID</th> -->
                      <th>Name</th>
                      <th>Capacity</th>
                      <th>Number</th>
                      <th>Type</th>
                      <th>Actions</th>
                    </tr>
                  </thead>

                  <tbody *ngIf="vessels?.length != 0">
                      <tr *ngFor="let vessel of vessels">
                          <!-- <td>{{ vessel.id }}</td> -->
                          <td>{{ vessel.name }}</td>
                          <td>{{ vessel.capacity | number: '1.2-2' }}</td>
                          <td>{{ vessel.number }}</td>
                          <td>{{ vessel.type.toUpperCase() + " Vessel" }}</td>
                          <td>
                            <button *ngIf="policy['daughter-vessels'].update" class="btn btn-outline-primary btn-sm" (click)='editModal(edContent, vessel)'> <i class="fa fa-pencil"></i> </button>
                            <button *ngIf="policy['daughter-vessels'].delete" class="btn btn-outline-danger btn-sm" (click)='del(vessel)'> <i class="fa fa-trash"></i> </button>
                          </td>
                      </tr>
                  </tbody>
                  <tbody *ngIf="vessels?.length == 0">
                    <tr>
                      <td colspan="3" class="no-data-available">No data!</td>
                    </tr>
                  <tbody>
                </table>

                <!-- add new modal -->
                <ng-template #content let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Create Daughter Vessel</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

                        <div *ngIf="inputErr!=''" class="alert alert-danger alert-dismissible">
                            {{inputErr}}
                        </div>
                        <div *ngIf="inputSuccess!=''" class="alert alert-success alert-dismissible">
                            {{inputSuccess}}
                        </div>
                      <form class="row">
                        <!-- <div class="form-group">

                          <label for="fname">First Name</label>
                          <div class="input-group">
                            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" >
                            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                            </div>
                          </div>
                        </div> -->
                        <div class="form-group col-4">

                            <div class="controls">
                                <div class="input-prepend input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Name</span>
                                  </div>
                                  <input [ngClass]="this.name.length >= 2 ? 'is-valid':''" type="text" class="form-control" name="fname" [(ngModel)]='name' placeholder="Enter your Vessel Name">
                                </div>
                              </div>

                          </div>
                        <div class="form-group col-4">

                            <div class="controls">
                                <div class="input-prepend input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Capacity</span>
                                  </div>
                                  <input [ngClass]="this.cap >= 1 ? 'is-valid':''" type="number" class="form-control" name="mname" [(ngModel)]='cap' placeholder="Enter your Vessel capacity">
                                </div>
                              </div>

                          </div>
                        <div class="form-group col-4">

                            <div class="controls">
                                <div class="input-prepend input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Number</span>
                                  </div>
                                  <input [ngClass]="this.num.length >= 2 ? 'is-valid':''" type="text" class="form-control" name="lname" [(ngModel)]='num' placeholder="Enter your Vessel Number">
                                </div>
                              </div>

                          </div>

                      </form>
                    </div>
                    <div class="modal-footer">

                      <i *ngIf='load' class="fa fa-snowflake-o fa-2x fa-spin mt-4" style="margin-bottom: 15px"></i>

                      <button type="button" [disabled]='!validateNew()' [ngClass]=" (validateNew())?'btn btn-outline-primary':'btn btn-outline-danger'" class="btn btn-outline-primary" (click)="saveNew()">Save</button>
                      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
                    </div>
                  </ng-template>


                  <!-- edit modal -->
                <ng-template #edContent let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Edit Daughter Vessel </h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">

                        <div *ngIf="inputErr!=''" class="alert alert-danger alert-dismissible">
                            {{inputErr}}
                        </div>
                        <div *ngIf="inputSuccess!=''" class="alert alert-success alert-dismissible">
                            {{inputSuccess}}
                        </div>
                      <form class="row">

                          <div class="form-group col-4">

                              <div class="controls">
                                  <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">Name</span>
                                    </div>
                                    <input [ngClass]="this.ename.length >= 2 ? 'is-valid':''" type="text" class="form-control" name="fname" [(ngModel)]='ename' placeholder="Enter your Vessel Name">
                                  </div>
                                </div>

                            </div>
                          <div class="form-group col-4">

                              <div class="controls">
                                  <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">Capacity</span>
                                    </div>
                                    <input [ngClass]="this.ecap >= 1 ? 'is-valid':''" type="number" class="form-control" name="mname" [(ngModel)]='ecap' placeholder="Enter your Vessel capacity">
                                  </div>
                                </div>

                            </div>
                          <div class="form-group col-4">

                              <div class="controls">
                                  <div class="input-prepend input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">Number</span>
                                    </div>
                                    <input [ngClass]="this.enum.length >= 2 ? 'is-valid':''" type="text" class="form-control" name="lname" [(ngModel)]='enum' placeholder="Enter your Vessel Number">
                                  </div>
                                </div>

                            </div>

                      </form>
                    </div>
                    <div class="modal-footer">

                      <i *ngIf='eload' class="fa fa-snowflake-o fa-2x fa-spin mt-4" style="margin-bottom: 15px"></i>

                      <button type="button" [disabled]='!validateEdit()' [ngClass]=" (validateEdit())?'btn btn-outline-primary':'btn btn-outline-danger'" class="btn btn-outline-primary" (click)="edit()">Update</button>
                      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
                    </div>
                  </ng-template>


          </div>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
